html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}
.clearfix::after {
  clear: both;
}
body {
  margin: 0;
  color: hsla(0, 0%, 0%, 0.8);
  background: #282b2f;
  overflow: hidden;
  min-height: 100vh;
  letter-spacing: -0.035em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform-origin: 0 0;
}
a,
h1,
h2,
h3,
h4 {
  font-weight: 900;
}
svg:not(:root) {
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
.copy {
  background-color: #282b2f;
  font-size: 0.7em;
  color: #fff;
  font-weight: 500;
  float: right;
  margin: 13px;
  display: flex;
  align-items: center;
}
.copy div:nth-child(2) {
  margin: 0 4px;
}
.copy svg {
  display: inline-block;
}
.copy svg:first-child {
  transform: rotateY(180deg);
}
.layout-wrapper {
  min-height: 100vh;
  display: flex;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
}
.layout-inner {
  width: 100%;
}
.white.layout-wrapper .layout-inner {
  background: #fff;
}
.white .data-section {
  color: #000;
}
.black.layout-wrapper .layout-inner {
  background: #0e0f11 url(../../static/assets/line.svg) center center fixed;
  background-size: contain;
}
.black.layout-wrapper h1,
.black.layout-wrapper h2 {
  color: #fff;
}
.skill.layout-wrapper .layout-inner {
  color: #fff;
  background: #9d316e;
  background: url(../../static/assets/line.svg) center center fixed,
    linear-gradient(45deg, #9d316e, #de2d3e);
  background-size: cover;
}
.experience.layout-wrapper .layout-inner {
  background: #3a3d98;
  background: url(../../static/assets/line.svg) center center fixed,
    linear-gradient(45deg, #6f22b9, #3a3d98);
  background-size: cover;
}
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}
a {
  color: #2fa0ec;
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  color: #74777b;
  outline: none;
}
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
.bgPageColor {
  color: #282b2f;
}
