*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  margin: 0px;
  font-family: "Source Sans Pro", Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  min-height: 100vh;
  color: #57585c;
  color: var(--color-text);
  background-color: #fff;
  background-color: var(--color-bg);
  /* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

/* Color schemes */
.portfolio {
  --color-text: #fff;
  --color-bg: #ddd;
  --color-link: #fff;
  --color-link-hover: #2735da;
  --color-info: #fff;
  --path-fill-1: #413f46;
  --path-fill-2: #e6e5ea;
  --path-fill-3: #cccccc;
  /* --color-title: #fff; */
  --color-title: #000;
  --font-family-title: "Montserrat", sans-serif;
  --font-size-title: 7vmax;
  --font-weight-title: 700;
  --color-menu: #171616;
  --color-menu-hover: #ffffff;
  --font-family-menu: "Montserrat", sans-serif;
  --font-size-menu: 3vmax;
  --font-weight-menu: 700;
  --button-bg: #fff;
  --button-line: #222;
}

/* Fade effect */

a {
  text-decoration: none;
  color: #5d93d8;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: #423c2b;
  color: var(--color-link-hover);
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Top Navigation Style */

.global-menu {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.global-menu-item {
  color: var(--color-menu);
  font-family: var(--font-family-menu);
  font-size: var(--font-size-menu);
  font-weight: var(--font-weight-menu);
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  display: block;
  margin: 0.25em 0;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: ease-in;
}

.global-menu-item:hover {
  color: var(--color-menu-hover);
}

.global-menu-item.is-opened {
  opacity: 1;
  transform: translateY(0) rotate(0);
  pointer-events: auto;
  transition-timing-function: ease;
}

.global-menu-item:nth-of-type(1) {
  transition-delay: 0s;
}

.global-menu-item.is-opened:nth-of-type(1) {
  transition-delay: 0.85s;
}

.global-menu-item:nth-of-type(2) {
  transition-delay: 0.05s;
}

.global-menu-item.is-opened:nth-of-type(2) {
  transition-delay: 0.8s;
}

.global-menu-item:nth-of-type(3) {
  transition-delay: 0.1s;
}

.global-menu-item.is-opened:nth-of-type(3) {
  transition-delay: 0.75s;
}

.global-menu-item:nth-of-type(4) {
  transition-delay: 0.15s;
}

.global-menu-item.is-opened:nth-of-type(4) {
  transition-delay: 0.7s;
}

.shape {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.shape.is-opened {
  pointer-events: auto;
}

.shape-path:nth-of-type(1) {
  fill: var(--path-fill-1);
}

.shape-path:nth-of-type(2) {
  fill: var(--path-fill-2);
}

.shape-path:nth-of-type(3) {
  fill: var(--path-fill-3);
}

.shape-path:nth-of-type(4) {
  fill: var(--path-fill-4);
}

.hamburger {
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 2.25em;
  left: 2.25em;
  z-index: 110;
  border-radius: 50%;
  background-color: var(--button-bg);
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hamburger::after {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.hamburger-line {
  width: 28px;
  height: 2px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.hamburger-line-in {
  width: 84px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.hamburger-line-in::before,
.hamburger-line-in::after {
  width: 28px;
  height: 2px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-color: var(--button-line);
}

.hamburger-line-in::before {
  left: -56px;
}

.hamburger-line-in::after {
  left: 0;
}

.hamburger-line-1,
.hamburger-line-2,
.hamburger-line-3,
.hamburger-line-cross-1,
.hamburger-line-cross-2 {
  left: 18px;
}

.hamburger-line-1 {
  top: 24.6px;
}

.hamburger-line-2,
.hamburger-line-cross-1,
.hamburger-line-cross-2 {
  top: 31px;
}

.hamburger-line-3 {
  top: 37.4px;
}

.hamburger-line-cross-1 {
  transform: rotate(45deg);
}

.hamburger-line-cross-2 {
  transform: rotate(-45deg);
}

.hamburger-line {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger-line-in {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger-line-in::before,
.hamburger-line-in::after {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: transform;
}

.hamburger-line-in-cross-1,
.hamburger-line-in-cross-2 {
  transform: translateX(-33.3%);
}

.hamburger-line-in-1 {
  transition-delay: 0.2s;
}

.hamburger-line-in-2 {
  transition-delay: 0.25s;
}

.hamburger-line-in-2::before,
.hamburger-line-in-2::after {
  transition-delay: 0.05s;
}

.hamburger-line-in-3 {
  transition-delay: 0.3s;
}

.hamburger-line-in-3::before,
.hamburger-line-in-3::after {
  transition-delay: 0.1s;
}

.hamburger-line-in-cross-1 {
  transition-delay: 0s;
}

.hamburger-line-in-cross-2 {
  transition-delay: 0.05s;
}

.hamburger-line-in-cross-2::before,
.hamburger-line-in-cross-2::after {
  transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger-line-in-1,
.hamburger.is-opened-navi .hamburger-line-in-2,
.hamburger.is-opened-navi .hamburger-line-in-3 {
  transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger-line-in-cross-1,
.hamburger.is-opened-navi .hamburger-line-in-cross-2 {
  transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger-line-in-1 {
  transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger-line-in-2 {
  transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger-line-in-3 {
  transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger-line-in-cross-1 {
  transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger-line-in-cross-2 {
  transition-delay: 0.3s;
}

.hamburger:hover .hamburger-line-in::before,
.hamburger:hover .hamburger-line-in::after {
  transform: translateX(200%);
}

.hamburger:hover .hamburger-line-in-1::before,
.hamburger:hover .hamburger-line-in-1::after,
.hamburger:hover .hamburger-line-in-2::before,
.hamburger:hover .hamburger-line-in-2::after,
.hamburger:hover .hamburger-line-in-3::before,
.hamburger:hover .hamburger-line-in-3::after {
  transition-duration: 1s;
}

.hamburger:hover .hamburger-line-in-cross-1::before,
.hamburger:hover .hamburger-line-in-cross-1::after,
.hamburger:hover .hamburger-line-in-cross-2::before,
.hamburger:hover .hamburger-line-in-cross-2::after {
  transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger-line-in-cross-1::before,
.hamburger.is-opened-navi:hover .hamburger-line-in-cross-1::after,
.hamburger.is-opened-navi:hover .hamburger-line-in-cross-2::before,
.hamburger.is-opened-navi:hover .hamburger-line-in-cross-2::after {
  transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger-line-in-1::before,
.hamburger.is-opened-navi:hover .hamburger-line-in-1::after,
.hamburger.is-opened-navi:hover .hamburger-line-in-2::before,
.hamburger.is-opened-navi:hover .hamburger-line-in-2::after,
.hamburger.is-opened-navi:hover .hamburger-line-in-3::before,
.hamburger.is-opened-navi:hover .hamburger-line-in-3::after {
  transition-duration: 0s;
}

@media screen and (max-width: 55em) {
  html,
  body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
  }
  .hamburger {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    transform: scale(0.75);
  }
}
